# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

schedules:
- cron: "01 12 * * 1-5"
  displayName: Development Environment Rebuilds
  branches:
    include:
    - main
  always: true

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  tagDate: $[ format('{0:yyyy}.{0:MM}.{0:dd}.{0:HH}.{0:mm}{0:ss}', pipeline.startTime) ]
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]
  
stages:
- stage: Build
  condition: and(succeeded(), eq(variables.isMain, 'true'))
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
  
    - task: Docker@2
      displayName: Build Ubuntu 25.10 Base Image (for local use).
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu2510_base/Dockerfile'
        tags: | 
              ubuntu2510_base_latest
              ubuntu2510_base_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev 
    - task: Docker@2
      displayName: Ubuntu 25.10 Base Python
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu_2510_base_python/Dockerfile'
        tags: | 
              ubuntu_2510_base_python
              ubuntu_2510_base_python_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev   
    - task: Docker@2
      displayName: Ubuntu 24.04 Base Python + Node
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu_2510_base_python_node/Dockerfile'
        tags: | 
              ubuntu_2510_base_python_node
              ubuntu_2510_base_python_node_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev            
    - task: Docker@2
      displayName: Ubuntu 24.04 Base Python
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu_2404_base_python/Dockerfile'
        tags: | 
              ubuntu_2404_base_python
              ubuntu_2404_base_python_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev          
    - task: Docker@2
      displayName: Ubuntu 24.04 Base Python + Node
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu_2404_base_python_node/Dockerfile'
        tags: | 
              ubuntu_2404_base_python_node
              ubuntu_2404_base_python_node_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev      
    - task: Docker@2
      displayName: Build Geoserver 2.27 Image (for local use).
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/geoserver_2_27/Dockerfile'
        tags: | 
              geoserver2_27_latest
              geoserver2_27_base_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev            
    - task: Docker@2
      displayName: Build Ubuntu 24.04 Base Image (for local use).
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu2404_base/Dockerfile'
        tags: | 
              ubuntu2404_base_latest
              ubuntu2404_base_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev        
    - task: Docker@2
      displayName: Build Ubuntu 24.04 with texlive.
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu2404-texlive/Dockerfile'
        tags: | 
              ubuntu2404texlive_latest
              ubuntu2404texlive_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev             
    - task: Docker@2
      displayName: Build Wine Ubuntu 24.04
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/wineubuntu2024/Dockerfile'
        tags: | 
              wineubuntu2024_latest
              wineubuntu2024_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev     
    - task: Docker@2
      displayName: Build Postgres Image for Postgres 16
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/postgres16/Dockerfile'
        tags: | 
              postgres16_latest
              postgres16_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev 
    - task: Docker@2
      displayName: Build Postgres Image for Ubuntu 24.04 Postgres 17
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/postgresubuntu2404/Dockerfile'
        tags: | 
              postgresubuntu2404_latest
              postgresubuntu2404_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev 
    - task: Docker@2
      displayName: Build Postgres Image for Ubuntu 24.04 Postgres 16
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/postgres16ubuntu2404/Dockerfile'
        tags: |
              postgresubuntu2404_16_latest
              postgresubuntu2404_16_$(tagDate)
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev
    - task: Docker@2
      displayName: Build Ubuntu 24.04 Development Environment
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/ubuntu2404_dev/Dockerfile'
        tags: | 
              ubuntu2404_dev_latest
              ubuntu2404_dev_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev 
    - task: Docker@2
      displayName: Build Postgres Image for Ubuntu 20.04
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/postgresubuntu2004/Dockerfile'
        tags: | 
              postgresubuntu2004_latest
              postgresubuntu2004_$(tagDate)              
        containerRegistry: DockerGitHub
        repository: ghcr.io/dbca-wa/docker-apps-dev 
